<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="home">@Interview</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link " href="home">Add Question</a>
          <a class="nav-item nav-link " href="project">Project</a>
          <a class="nav-item nav-link " href="corejava">Core Java</a>
          <a class="nav-item nav-link " href="j2ee">J2EE</a> 
          <a class="nav-item nav-link " href="framework">Framework</a> 
          <a class="nav-item nav-link " href="tools">Tools</a> 
          <a class="nav-item nav-link " href="db">DB</a> 
          <a class="nav-item nav-link " href="dsandalgo">DS and Algorithm</a> 
          <a class="nav-item nav-link " href="devop">Devops</a>
          <a class="nav-item nav-link " href="testing">Testing</a>
          <a class="nav-item nav-link " href="scripting">Scripting</a>
          <a class="nav-item nav-link " href="messageq">MessagingQ</a>
          <a class="nav-item nav-link " href="recyclebin">Recycle Bin</a>
        </div>
      </div>
    </nav>
    </div>